ul.messages(id="messaging-message-list")

  li(ng-repeat="message in vm.thread.messages track by $index" id="{{$index}}")
    a.avatar(href="{{vm.generateProfileUrl(message.publisher.handle)}}" target="_blank")
      avatar(avatar-url="{{ message.publisher.avatar }}")

    .message.elevated-bottom
      a.name(href="{{vm.generateProfileUrl(message.publisher.handle)}}" target="_blank") {{message.publisher.handle}}

      time {{ message.createdAt | timeLapse }}

      p.title(ng-if="message.publisher.role != null") {{message.publisher.role}}

      p {{ message.body }}

      ul.attachments.flex(ng-if="message.attachments.length > 0")
        li(ng-repeat="attachment in message.attachments track by $index")
          a(href="{{attachment.thumbnailUrl}}" target="_blank")
            img(ng-src="{{attachment.thumbnailUrl}}")

      //- a.download(ng-if="message.attachments.length > 0")
      //-   .icon.download.smallest

      //-   p Download all images

    li.new-messages(ng-if="!message.read")
      p new messages

      hr

  a(id="messaging-bottom-{{ vm.threadId }}")

.respond
  ap-uploader(
    config="vm.uploaderConfig"
    uploading="vm.uploaderUploading"
    has-errors="vm.uploaderHasErrors"
    has-files="vm.uploaderHasFiles"
  )

  form.flex.middle.center(ng-submit="vm.sendMessage()")
    textarea(placeholder="Send a message..." ng-model="vm.newMessage")

    button.action(type="submit" ng-hide="vm.disableSend") reply

    button.action(disabled=true ng-show="vm.disableSend") reply
