p You have {{vm.thread.messages.length}} messages with {{vm.thread.messages[0].publisher.handle}}

ul.messages.flex-grow(id="messaging-message-list")
  li(ng-repeat="message in vm.thread.messages track by $index" id="{{$index}}")
    avatar(avatar-url="{{ message.publisher.avatar }}")

    .message
      a.name(href="#") {{message.publisher.handle}}

      time {{ message.createdAt | timeLapse }}

      p.title(ng-if="message.publisher.role != null") {{message.publisher.role}}

      p {{ message.body }}

      ul.attachments.flex(ng-if="message.attachments.length > 0")
        li(ng-repeat="attachment in message.attachments track by $index")
          img(ng-src="{{attachment.thumbnailUrl}}")

      //- a.download(ng-if="message.attachments.length > 0")
      //-   .icon.download.smallest

      //-   p Download all images

  a(id="messaging-bottom-{{ vm.threadId }}")

.respond
  ap-uploader(
    config="vm.uploaderConfig"
    uploading="vm.uploaderUploading"
    has-errors="vm.uploaderHasErrors"
    has-files="vm.uploaderHasFiles"
  )

  form(ng-submit="vm.sendMessage()")
    textarea(placeholder!="Send a message&hellip;" ng-model="vm.newMessage")

    button.wider.action(type="submit" ng-hide="vm.disableSend") reply

    button.wider.action(disabled=true ng-show="vm.disableSend") reply
