ul.messages
  li(ng-repeat="message in vm.messaging.messages track by $index")
    avatar(avatar-url="{{ vm.messaging.avatars[message.publisherId] }}")

    .message
      p {{ message.body }}

      ul.attachments
        li(ng-repeat="attachment in message.attachments track by $index")
          a(href="#") {{ message.attachments.originalUrl }}

      time {{ message.createdAt | timeLapse }}

  a(id="messaging-bottom-{{ vm.threadId }}")

form(ng-submit="vm.sendMessage()")
  textarea(placeholder!="Send a message&hellip;" ng-model="vm.newMessage")

  button.enter(type="submit") Enter

  div.upload

    ap-uploader(multiple="true",
                // TODO: change from echo server to service
                url-presigner="http://localhost:4321",
                query-url="http://localhost:4321",
                file-endpoint="http://localhost:4321",
                status="vm.uploadStatus",
                ng-show="vm.showUpload")
    button.toggle(ng-click="vm.showUpload = !vm.showUpload")
      span(ng-show="!vm.showUpload") Add Attachment
      span(ng-show="vm.showUpload") Cancel
